:root {
    --font-special : "Fraunces";
    --font-main : "Montserrat";
    --primary-light: hsl(32, 37%, 92%);
    --neutral-light: hsl(0, 0%, 100%);

    --neutral-dark: hsl(212, 21%, 14%);
    --neutral-dark-2: hsl(228, 12%, 48%);
    
    --special: hsl(158, 36%, 37%);
    --special--dark: hsl(158, 36%, 20%);

}

/* 
Breakpoints:
- Mobile: 375px
- Desktop: 1440px

 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* converts 1em = 14px as per style-guide */
    font-size: 87.5%;   
}


/* main page */
.main {
    height: 100%;
    min-height: 100vh;
    background-color: var(--primary-light);
    padding: 1em;
    display: grid;
    place-items: center;
}

.card {
    max-height: 45em;
    max-width: 25em;
    width: 100%;
    background-color: var(--neutral-light);
    border-radius: .5em;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    overflow: hidden;
    font-family: var(--font-main);
    font-weight: 500;
}

.card__image {
    grid-row: 1 / 2;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-content {
    grid-row: 2/-1;
    padding: 1.5em 2em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: start;
}

.card__category {
    text-transform: uppercase;
    letter-spacing: .25em;
    color: var(--neutral-dark-2);
}

.card__title {
    font-family: var(--font-special);
    font-size: 2.25em;
    text-transform: capitalize;
    color: var(--neutral-dark);
    line-height: 1em;
}

.card__description {
    color: var(--neutral-dark-2);
    font-size: 1em;
    line-height: 1.5em;
}

.card__price {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: flex-start;
    gap: 2.25em;
}

.card__price--main {
    font-family: var(--font-special);
    color: var(--special);
    font-size: 2em;
}

.card__price--sub {
    color: var(--neutral-dark-2);
    font-size: 1em;
    text-decoration: line-through;
}

.card__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding: 1em;
    outline: none;
    border: none;
    border-radius: .5em;
    background-color: var(--special);
    font-weight: 700;
    color: var(--primary-light);
    transition: all .2s linear;
    cursor: pointer;
}

.card__btn:hover {
    background-color: var(--special--dark);
}


@media screen and (min-width:1440px) {
    .card {
        max-height: 35em;
        max-width: 50em;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }
    
    .card__title {
        font-size: 3em;
    }
    
    .card__description {
        font-size: 1.15em;
    }
    
    .card__price {
        display: flex;
        align-items: center;
        list-style: none;
        justify-content: flex-start;
        gap: 2.25em;
    }
    
    .card__price--main {
        font-size: 3em;
    }
    
    .card__price--sub {
        font-size: 1.15em;
    }

    .card__image {
        grid-row: 1/ -1;
        grid-column: 1 / 2;
        height: 100%;
    }
    
    .card-content {
        grid-row: 1/ -1;
        grid-column: 2/-1;
        justify-content: space-around;
    }   
}

/* attribution is left in HTML but set to hidden */
footer.attribution {
    display: none;
}